<section>

  <div class='container'>
    <div class="tile is-ancestor">
      <div class='tile is-8  is-parent'>
        <article class="tile is-child notification is-warning box">

          <h1 class="title">
            <%= @idea.title %>
          </h1>

          <div class='content'>
            <p>
              <%= @idea.description %>
            </p>
          </div>
          <% if user_signed_in? && can?(:manage, @idea) %>
          <div class="level">
            <div class="level-left">

              <%= link_to 'Edit Content', edit_idea_path, class: 'button is-outlined is-dark' %>

            </div>
            <div class="level-right">

              <%= link_to 'Delete Post', idea_path(@idea), method: :delete, class: 'button is-outlined is-danger' %>

            </div>
            <% end %>
          </article>

      </div>
      <div class="tile  is-vertical is-4 is-parent">

        <article class="tile is-child box">

          <%= form_for [@idea,@review] do |f| %>
          <div class="field">
            <%=  f.label :title, class: 'label' %>
            <div class='control'>
              <%= f.text_field :title, class: 'input'%>
            </div>
          </div>
          <div class="field">
            <%= f.label :body, class: 'label' %>
            <div class='control'>
              <%= f.text_area :body, class: 'textarea'%>
            </div>
          </div>
          <div class="field">

            <div class='control'>
              <%= f.submit  class: 'button is-link is-outlined'%>
            </div>
          </div>
          <% end %>

        </article>

        <% @reviews.each do |r| %>
        
        <article class="tile is-child box">
          <article class="media">
            <div class="media-content">
              <h6 class='title is-4'><%= r.title %></h6>
              <h6 class='subtitle is-6'>by:<%= r.user.full_name %></h6>
              <br>
              <p><%= r.body %></p>
              <% if user_signed_in? && can?(:manage, r) %>
              <div class="level">
                <div class='level-left'></div>
                <div class="level-right">
                  <%= link_to 'Delete', review_path(r) , method: :delete, class:'level-item' %>
                </div>
              </div>
              <% end %>
            </div>
          </article>
        </article>
        <% end %>
      </div>
    </div>
  </div>
</section>
