<!DOCTYPE html>
<html>
  <head>
    <title>IdeaFactory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <h1 class="title">
    <%= link_to 'I|F', root_path, class: 'navbar-item' %>
  </h1>

    <button class="button navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div class= "navbar-menu">
    <div class="navbar-end">
      <% if !user_signed_in? %>
      <%= link_to "Sign Up", new_user_path, class: 'navbar-item' %>
      <%= link_to "Sign In", new_session_path, class: 'navbar-item' %>
      <% else %>
      <span class='navbar-item'>Hello <%= current_user.first_name %></span>
      <%= link_to "Sign Out", session_path, method: :delete, class: 'navbar-item' %>
      <% end %>
    </div>
  </div>
</nav>
<% if flash[:notice].present? %>
<article class="message is-success">
  <div class="message-header">
    <p>Success</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    <%= flash[:notice] %>
  </div>
</article>

<% end %>
<% if flash[:alert].present? %>
<article class="message is-warning">
  <div class="message-header">
    <p>Warning</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    <%= flash[:alert] %>
  </div>
</article>

<% end %>

    <%= yield %>
  </div>
  </body>
</html>
